body {
    background-color: darkgray;
    margin: 0;
    overflow: hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}

#myCanvas {
    background-color: lightgray;
}

#verticalButtons{
    display:flex;
    flex-direction:column;
}